* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

body {
  background-color: #ede9ea;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

h1 {
  color: #160f29;
}

label {
  padding: 0.5rem;
}
button {
  cursor: pointer;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  transition: all 200ms;
  background-color: #ede9ea;
  border: 2px solid #f4b02a;
  color: #160f29;
}

button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #f4b02a;
  transform: translateY(-0.25em);
}

input[type="checkbox"] {
  cursor: pointer;
}

input[type="text"] {
  margin: 0;
  border: 2px solid #160f2991;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #ede9ea;
  width: 20em;
}

input[type="number"] {
  width: 5em;
  margin: 0;
  border: 2px solid #160f2991;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #ede9ea;
}
